// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// ---------------------------------------------------------------------
.member-btn{
    text-align: center;
    border: 2px solid red;
    background-color: white;
    font-weight:bold;
    font-family: "norwester";
}
.event-title{
    font-weight: bold;
    color:red;
    
}
.event-background{
    background-color: darkgray;
    border-radius: 2px;
}
.event-tile{
    background-color:lightgray;
    padding:10px;
    margin:10px;
    color:black;
    text-align: center;
    min-height:30vh;

}
.event-img{
height:100%;
width:100%;
}