<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <a class="navbar-brand font-weight-bolder mr-3" href="index.html">
    	<img class="nav-img" src="../assets/img/homeicon.png">
    </a>
    <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-default" aria-controls="navbars-default" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbars-default">
        <ul class="navbar-nav ml-auto align-items-center">
        
            <li class="nav-item">
                <a class="nav-link" href="membershipexperience.html">Membership Experience</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="collaborate.html">Collaborate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
             </li>
        </ul>

        <ul class="navbar-nav ml-auto align-items-center">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img class="nav-img" src="../assets/img/facebook.png"> 
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img class="nav-img" src="../assets/img/instagram.png">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img class="nav-img" src="../assets/img/twitter.png">
                </a>
            </li>
        </ul>
    </div>
</nav>